@model First.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="text-center">
    <h1>Thank you @Model.Name !</h1>
    @if(Model.WillAttend==true)
    {
        @: Look forward to meeting you on the party!

    }
    else
    {
        @: We are sorry to miss you!

    }

    Please find out <a class="navbar-link" asp-action="ListResponses" > who attend the party </a>. 
</body>
</html>
